[submodule "public/vendor/facebox"]
	path = public/vendor/facebox
	url = git://github.com/Burgestrand/facebox.git
[submodule "public/vendor/jquery-textchange"]
	path = public/vendor/jquery-textchange
	url = git://gist.github.com/424774.git
[submodule "public/vendor/jquery-metadata"]
	path = public/vendor/jquery-metadata
	url = git://github.com/jquery/jquery-metadata.git
[submodule "vendor/plugins/rake_assets/lib/tasks"]
	path = vendor/plugins/rake_assets/lib/tasks
	url = git://gist.github.com/613114.git
[submodule "vendor/plugins/vlad_deploy/lib/tasks"]
	path = vendor/plugins/vlad_deploy/lib/tasks
	url = git@gist.github.com:7d52cb288afb3d29f07a.git
