- title 'The page you were looking for does not exist'
- empty_content_for :header

:css
  html, body
  {
    background: rgb(223, 219, 195);
    color: rgb(59, 35, 34);
    font: 100.01%/1.35 'Verdana', 'Arial', 'Helvetica', sans-serif;
  }
  
  body
  {
    margin: 0 auto;
    padding-top: 4em;
    position: relative;
    width: 38em;
  }
  
  h1
  {
    border-bottom: 1px solid;
    color: #344251;
    font: bold 2.4em/1.0 'Georgia', serif;
    margin-bottom: 0;
    padding-bottom: .3em;
    text-align: center;
  }
  
  h2
  {
    border-bottom: 1px solid rgb(249, 246, 223);
    font-size: 1.4em;
    margin-bottom: 0;
    padding-bottom: .4em;
  }
  
  h2, p
  {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
  }

%h1 Nothing was found here :(
%p
  I looked through the archives myself. Unfortunately the address you
  typed in does not correspond to an actual document.

%h2 Did you follow a link on our site?
%p
  Then don’t panic! This is our fault, and we are deeply sorry. We will
  make sure that the developer responsible is given twenty lashes for
  this offense (but only after he or she has fixed the problem).

%h2 Did you type the address manually?
%p
  If you would be so kind to double-check your spelling. It happens to
  the best of us!